@{
    ViewBag.Title = "Riddle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(ViewBag.Error != ""){
    <div class="rounded riddle-error">
        @ViewBag.Error
    </div>
}

<div>
    You are almost done with your first day. Solve this riddle: <br />
    I travel the world and I am drunk constantly. Who am I? <br />
    Type your answer in the url by replacing <b>Decision/Riddle</b> with <b>Answer/{your answer}</b>
</div>
