@{
    ViewBag.Title = "Slogan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    Now you have been asked to pick a slogan for the recruiting group, do....
</div>

@using (Html.BeginForm())
{
    @Html.Partial("ChooseList")
}
