@{
    ViewBag.Title = "Congrats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    You survived your first day at Geneca!!! <br />
    Great job, welcome aboard. <br />

    You visited the following pages during your adventure:<br />
    @ViewBag.Visited

</div>
