@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    To start your adventure click the start button below
</div>

@using (Html.BeginForm())
{
    <p>
        <input class="rounded" id="btnStart" type="submit" value="Start" />
    </p>
}
