<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
</head>

<body>
    <div class="main">
        <div class="page-header">
            <div>
                <img alt="" src="../../Content/images/logo.png" />
            </div>
            <div class="title">
                Geneca New Hire: Welcome to Geneca's choose your own adventure game.
            </div>
        </div>
        <div class="wrapper">
            @RenderBody()
        </div>
    </div>
</body>
</html>
